---

---

<form id="registerForm">
  <div class="my-5">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="border" required />
  </div>
  <div class="my-5">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" class="border" required />
  </div>
  <div class="my-5">
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      class="border"
      required
    />
  </div>

  <button
    id="registerSubmitButton"
    type="submit"
    class="bg-green-400 p-5 text-white">Register</button
  >
</form>
