---
import { actions, isInputError } from "astro:actions";

type ErrorRes = {
  name?: string[] | undefined;
  email?: string[] | undefined;
  password?: string[] | undefined;
};

let errors: ErrorRes = {};
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();

  const { data, error } = await actions.register.safe(formData);

  if (data) {
    alert(data);
  }

  if (error && isInputError(error)) {
    console.log("server", data);
    errors = error.fields;
  }
}
---

<form method="POST">
  <div class="my-5">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="border" required />
    <span class="text-sm text-red-500">{errors.name && errors.name[0]}</span>
  </div>
  <div class="my-5">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" class="border" required />
    <span class="text-sm text-red-500">{errors.email && errors.email[0]}</span>
  </div>
  <div class="my-5">
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      class="border"
      required
    />
    <span class="text-sm text-red-500"
      >{errors.password && errors.password[0]}</span
    >
  </div>

  <button type="submit" class="bg-green-400 p-5 text-white">Register</button>
</form>
