---
import "@styles/global.css";
import { RegisterForm } from "@components/solid/register-form";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="container mx-auto">
      <h1>Astro</h1>
      <section class="mx-auto max-w-screen-sm">
        <div class="card">
          <RegisterForm client:load />
        </div>
      </section>
    </main>
  </body>
</html>
